.pokemon-type {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    margin-right: 5px;
    color: white;

}
.pokemon-types {
    margin: 10px 0; 
    gap: 10px;
}

.pokemon-type.grass {
    background-color: #78c850;
    
}

.pokemon-type.fire {
    background-color: #f05030;
}

.pokemon-type.water {
    background-color: #6890f0;
    
}
.pokemon-type.flying{
    background-color: #a890f0;

}
.pokemon-type.bug{
    background-color: #ebf049;
    
}
.pokemon-type.poison{
    background-color: #a040a0;
    
}
.pokemon-type.ground{
    background-color: #e0c068;
    
}
.pokemon-type.rock{
    background-color: #b8a038;

}
.pokemon-type.fighting{
    background-color:#903028 ; 
    
}
.pokemon-type.normal{
    background-color:#a8a878 ; 

}
.pokemon-type.dark{
    background-color:#705848 ; 
    
}
.pokemon-type.ghost{
    background-color:#705898 ; 
    
}
.pokemon-type.psychic{
    background-color:#f85888; 
    
}
.pokemon-type.electric{
    background-color:#f8d030 ; 
    
}
.pokemon-type.ice{
    background-color:#98d8d8 ; 
    
}
.pokemon-type.steel{
    background-color:#b8b8d0 ; 
    
}
.pokemon-type.dragon{
    background-color:#7038f8; 
    
}
.pokemon-type.fairy{
    background-color:#68a090 ; 
    
}





